body{

  margin:0;
  font-family:
  Arial,
  sans-serif;

  background:#101820;
  color:white;

}


.app{

  min-height:100vh;
  text-align:center;
  padding-top:80px;

}


h1{

  font-size:48px;

}


.menu{

  margin-top:40px;

}


button{

  margin:10px;
  padding:15px 25px;

  font-size:18px;

  border-radius:12px;

  cursor:pointer;

}
.layout{

display:flex;
min-height:100vh;

}


.sidebar{

width:260px;
background:#17202a;
padding:30px;

}


.menu-item{

padding:15px;
margin:8px 0;

border-radius:10px;

cursor:pointer;

}


.menu-item:hover{

background:#263746;

}



.content{

flex:1;
padding:40px;

}



.cards{

display:flex;
gap:20px;
margin-top:40px;

}



.card{

background:#1c2833;

padding:25px;

border-radius:20px;

width:220px;

}
textarea{

width:80%;

height:120px;

padding:15px;

font-size:18px;

border-radius:10px;

margin:20px;

}


img{

border-radius:20px;

margin-top:20px;

  }
