body{

  margin:0;
  font-family:
  Arial,
  sans-serif;

  background:#101820;
  color:white;

}


.app{

  min-height:100vh;
  text-align:center;
  padding-top:80px;

}


h1{

  font-size:48px;

}


.menu{

  margin-top:40px;

}


button{

  margin:10px;
  padding:15px 25px;

  font-size:18px;

  border-radius:12px;

  cursor:pointer;

}
